/*Colors*/
$green: rgb(28,187,180);
$green-alpha: rgba(28,187,180,0.8);
$orange:rgb(255,173,29);
$orange-alpha:rgba(255,173,29,0.8);
$gray:#333;
$white:#fff;
/*backgrounds */
.orange-bg{background-color: $orange;}
.bg-orange{background-color: $orange-alpha;}
.green-bg{background-color: $green;}
.bg-green{background-color: $green-alpha;}
