/* colors */
@import "colors";
/* Typography */
@import "typography";
/*alerts*/
/**** Global Styles ****/
body{position: relative;}

.logo{
  a{
    text-decoration: none;
    .text-logo{
      font-size: 34px;
      line-height: 38px;
      font-weight: 700;
      color: $white;
    }
  }
}
/*Triangle */
.arrow-right-black-alpha{
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(0,0,0,0.23);
}
